:root {
  --main-bg-color: #faf9f9;
  --secondary-bg-color: #bee3db;
  --main-txt-color: #4C424C;
  --secondary-txt-color: #843984;
  --light-txt-color: #f0efeb;
}
/* GENERAL */
html {
  font-size: 120%;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin:0em;
  padding:0em 0em 0em 0em;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}
a {
  text-decoration: none;
  color: var(--main-txt-color);
  font-weight: 600;
}
a:hover {
  text-decoration: none;
  color: var(--secondary-txt-color);
  font-weight: 700;
}
h1 {
  font-size: 1.4rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}
h2 {
  font-size: 1.2rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}
h3 {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
}
h4 {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
}
h6 {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
}
/* HEADER */
.header {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.header h1 {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Cabin Sketch', cursive;
  color: var(--secondary-txt-color);
  font-size: 3.5rem;
  text-align: center;
  line-height: 50%;
  font-weight: 400;
  padding-bottom: .5rem;
}
.header hr {
  width: 60%;
  max-width: 800px;
  border: 0 none;
  height: .20rem;
  border-radius: 5px;
  background-color: var(--secondary-txt-color);
}
/* NAVBAR */
.navbar {
  width: 100%;
  height: 2.875em;
  font-size: .8rem;
}
.navbar ul {
  margin: auto;
  overflow: hidden;
  display: table;
}
.navbar li {
  display: inline-block;
  text-align: center;
}
.navbar li a {
  display: inline-block;
  color: var(--main-txt-color);
  text-align: center;
  padding: 0em 2rem 0 0rem;
  font-weight: 400;
  font-style: italic;
}
.navbar li a.active {
  font-weight: 600;
  /* font-style: italic; */
}
.navbar li a:hover:not(.active) {
  color: var(--secondary-txt-color);
  font-weight: 600;
}

/* CONTAINERS */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 50rem;
  padding: .5rem 1.25rem .5rem 1.25rem;
}

/* FOOTER */
.footer {
  padding-bottom: 1rem;
}
.footer ul {
  overflow: hidden;
  display: table;
  margin: auto;
}

.footer li {
  display: inline-block;
}

.footer li a {
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
}
/*SUBSCRIPTION*/
.subscribe form {
  background-color: var(--secondary-bg-color);
  border: none;
  padding: 2rem 0rem 2rem 0rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.subscribe form #tlemail {
  background: transparent;
  border: none;
  font-size: 1.1em;
  height: 2.5rem;
  width: 35%;
  max-width: 30rem;
  padding-bottom: 0rem;
  line-height: .5rem;
}
.subscribe form hr {
  width: 35%;
  max-width: 30rem;
  border: 0 none;
  height: .10rem;
  border-radius: 5px;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  background-color: var(--main-txt-color);
}
.subscribe form #submit {
  background-color: var(--main-txt-color);
  color: var(--light-txt-color);
  font-size: 1.1em;
  height: 2.5rem;
  border: none;
  border-radius: 2px;
  width: 35%;
  max-width: 30rem;
}

.subscribe a {
  font-size: 1.1rem;
  font-style: bold;
  font-family: 'Nunito', sans-serif;
  color: var(--secondary-txt-color);
}

.carousel-caption p{
  font-weight: bold;
  font-size: 1.2em;
  /* text-shadow:
  -1px -1px 0 var(--secondary-txt-color),
  1px -1px 0 var(--secondary-txt-color),
  -1px 1px 0 var(--secondary-txt-color),
  1px 1px 0 var(--secondary-txt-color); */
}
